

@font-face {
    font-family: "porsche";
    src: url('../src/font/911porschav3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    font-family: "porsche";
    display: block;
    text-align: center;
    padding: 25px;
    margin-bottom: 25px;
    height: 100px;
    color:  rgb(255, 85, 0);}

.box-header{
    font-family: "porsche";
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 45px;
    border-bottom: 1.3px solid black;
    
    .item{
        .cars2{
            visibility: hidden;
            width: 520px;
            height: 0px;
        }
    }
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    margin-bottom: 45px;
    border: 0.3px solid rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    .item{
        margin-left: 50px;
        .like{
            width: 50px;
            height: 50px;
            font-size: 50px;
        }
        .cars{
            width: 400px;
            height: 200px;
        }
    }
    .qt{
        form{
            input{
                width: 50px;
                height: 50px;
                border-radius: 5px;
                text-align: center;
                border: none;
                color: white;
                background-color: black;
            }
        }
    }
    .remove{
        width: 50px;
        height: 50px;
        margin-right: 50px;
        font-size: 50px;
    }
    &:hover{
        background-color: black;
        color: rgb(255, 85, 0);
    }
}



.box-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    margin-bottom: 45px;
    
    .item{
        visibility: hidden;
        margin-left: 50px;
        .like{
            width: 50px;
            height: 0px;
            visibility: hidden;
        }
    }
    .price{
        color: rgb(255, 85, 0);
    }
        .cars{
            width: 400px;
            height: 0px;
            visibility: hidden;
        }
        .remove{
            width: 50px;
            height: 0px;
            margin-right: 50px;
            visibility: hidden;
        }
    }

footer{
    display: flex;
    justify-content: flex-end;
    button{
        width: 200px;
        height: 45px;
        margin: 10px;
    }

}
#back{
    color: rgb(255, 85, 0);
    background-color: white;
    border:0.3px solid rgb(255, 85, 0) ;
    &:hover{
        color: rgb(255, 85, 0);
        background-color: rgb(0, 0, 0);
        border:0.3px solid rgb(255, 85, 0) ;
    }
}
#checkout{
    color: white;
    background-color: rgb(255, 85, 0);
    border:0.3px solid white ;
    &:hover{
        color: rgb(0, 0, 0);
        background-color: rgb(255, 85, 0);
        border:0.3px solid rgb(0, 0, 0) ;
    }
}
