$c1:rgb(73, 36, 62);
$c2:rgb(112, 66, 100);
$c3:rgb(187, 132, 147);
$c4:rgb(219, 175, 160);

@font-face {
    font-family: "porsche";
    src: url('../src/font/911porschav3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    font-family: "porsche";
    display: block;
    text-align: center;
    padding: 25px;
    margin-bottom: 25px;
    height: 100px;
}

.box-header{
    font-family: "porsche";
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 45px;
    border-bottom: 1.3px solid black;
    .item{
        .cars2{
            visibility: hidden;
            width: 520px;
            height: 0px;
        }
    }
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    margin-bottom: 45px;
    border: 0.3px solid rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    .item{
        margin-left: 50px;
        .like{
            width: 50px;
            height: 50px;
        }
        .cars{
            width: 400px;
            height: 200px;
        }
    }
    .remove{
        width: 50px;
        height: 50px;
        margin-right: 50px;
    }
}


